{% extends '::front.html.twig' %}

{% block breadcrumb %}Acervo Digitais{% endblock %}

{% block body -%}
<script src="/front/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/front/assets/plugins/jquery-ui.js" type="text/javascript"></script>
<script src="/front/assets/plugins/datepicker-pt-BR.js" type="text/javascript"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<style type="text/css">
    /* corp. search result */
    .content-search-view2 {
        background: #EDEFF1;
        padding: 20px;
        margin: 0 0 20px;
    }
</style>

{% embed 'MuseuFrontendBundle:Acervo:menu.html.twig' %} 
{% block depoimento %}active{% endblock %} 
{% endembed %}

<script>
  $(function() {


    $("#date_from").datepicker({
        dateFormat: 'yy-mm-dd',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });

    $("#date_to").datepicker({
        dateFormat: 'yy-mm-dd',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });




});
</script>
<div class="col-md-9">
    <h2>Filtros</h2>
    <form action="" class="content-search-view2">


    Resultados:
    <span style="margin-left: 10px; margin-right: 10px;"><input {% if mostrar == 5 %}checked{% endif %} type="radio" value="5" name="mostrar"> 5</span>
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 10 %}checked{% endif %} value="10" name="mostrar"> 10</a></span>
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 20 %}checked{% endif %} value="20" name="mostrar"> 20</a></span> 
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 40 %}checked{% endif %} value="40" name="mostrar"> 40</a></span> 
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 60 %}checked{% endif %} value="60" name="mostrar"> 60</a></span> 
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 80 %}checked{% endif %} value="80" name="mostrar"> 80</a></span> 
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 100 %}checked{% endif %} value="100" name="mostrar"> 100</a></span> 
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 200 %}checked{% endif %} value="200" name="mostrar"> 200</a></span> 
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 500 %}checked{% endif %} value="500" name="mostrar"> 500</a></span> 
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 1000 %}checked{% endif %} value="1000" name="mostrar"> 1.000</a></span>
    <span style="margin-right: 10px;"><input type="radio" {% if mostrar == 'all' %}checked{% endif %} value="all" name="mostrar"> Todos</a></span>
    <br />
    Ordenar: 
    <span style="margin-left: 25px; margin-right: 10px;"><input type="radio" {% if filtro == 'recentes' %}checked{% endif %} value="recentes" name="filtro"> Mais Recentes</span>
    <span style="margin-right: 10px;"><input type="radio" {% if filtro == 'acessados' %}checked{% endif %} value="acessados" name="filtro"> Mais Acessados</span>
    <br />
    Período:
    
      <div class="input-group" style="width: 38%;">

        <input type="text" id="date_from" name="date_from" class="form-control" style="margin-right: 5px; float: left; width: 110px;" value="{{ date_from }}" placeholder="Data Inicial">
        <input type="text" id="date_to" value="{{ date_to }}" name="date_to" class="form-control"  style="float: left; width: 110px;"placeholder="Data Final"><br />

        <span class="input-group-btn" style="float: left; margin-top: -18px;">
          <button class="btn red" type="submit"><i class="fa fa-search fa-fw"></i></button>
      </span>
      <input type="hidden" name="q" value="{{ query }}" />

  </div>
</form>
</div>

<div class="col-md-9" style="">
    <h2>{{ title }}</h2>
</div>            

<div class="col-md-9">
    Total: {{ total_result }}

    {% if option == 'musicas' %}
        {% include 'MuseuFrontendBundle:Acervo:musicas.html.twig' %}
    {% elseif option == 'livros' %}
        {% include 'MuseuFrontendBundle:Acervo:livros.html.twig' %}
    {% else %}
        {% include 'MuseuFrontendBundle:Acervo:table.html.twig' %}
    {% endif %}

    {% if mostrar != 'all' %}
        {{ knp_pagination_render(acervos) }}
    {% endif %}

    {{ render(controller('MuseuFrontendBundle:Default:news')) }}
</div>
{% endblock %}