<hr>
{% for book in acervos %}
                                
<div class="row" style="margin-top: 10px;">
    <div class="col-md-4 col-sm-4">
        <img src="/images/acervo/{{ asset(book.pic) }}" alt="" style="width: 130px; height: 194px;" class="img-responsive">
    </div>
    <div class="col-md-8 col-sm-8">
        <h2>{{ book.title }}</h2>
        <ul class="blog-info">
            {% if book.publisher %}
                Editora: {{ book.publisher }}<br />
            {% endif %}
            {% if book.author %}
                Autor(a): {{ book.author }}<br />
            {% endif %}
            {% if book.genre %}
                Gênero: {{ book.genre }}<br />
            {% endif %}
            {% if book.year %}
                Ano: {{ book.year }}<br />
            {% endif %}
        </ul>
        <h4>Sinopse</h4>
        <p>{{ book.sinopse }}</p>
        
        <p>
        {% if book.url %}<a class="more" target="_blank" href="{{ book.url }}">Ler mais<i class="icon-angle-right"></i></a> | {% endif %}
        <a href="{% if book.resenha %}{{ book.resenha }}{% else %}#{% endif %}">Resenha</a> |
        <a href="{% if book.nextLibrary %}{{ book.library }}{% else %}#{% endif %}">Biblioteca Digital</a> |
        <a href="{% if book.nextLibrary %}{{ book.nextLibrary }}{% else %}#{% endif %}">Biblioteca Próxima</a> |
        <a href="{% if book.ebook %}{{ book.ebook }}{% else %}#{% endif %}">eBook</a> |
        <a href="{% if book.sebo %}{{ book.sebo }}{% else %}#{% endif %}">Sebo</a> |
        <a href="{% if book.library %}{{ book.library }}{% else %}#{% endif %}">Livraria</a></p>
    </div>
</div>
<hr class="blog-post-sep">
{% endfor %}
