<div class="col-md-3">
    <div class="form-group">
      <h2>Busca</h2>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Digite palavras-chave">
      <span class="input-group-btn">
        <button class="btn red" type="button"><i class="fa fa-search fa-fw"></i></button>
      </span>
    </div>
    </div>


    <h2>Coleções</h2>
    <ul class="ver-inline-menu tabbable margin-bottom-10">
      <li class="{% block jornais %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'jornais' }) }}">Jornais (1.000)</a></li>
      <li class="{% block revistas %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'revistas' }) }}">Revistas (1.000)</a></li>
      <li class="{% block tvs %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'tvs' }) }}">TVs (1.000)</a></li>
      <li class="{% block audio %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'audio' }) }}">Áudio (1.000)</a></li>
      <li class="{% block sites %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'sites' }) }}">Sites (1.000)</a></li>
      <li class="{% block fotografias %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'fotografias' }) }}">Fotografias (1.000)</a></li>
      <li class="{% block ilustracoes %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'ilustracoes' }) }}">Ilustrações (1.000)</a></li>
      <li class="{% block artigos %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'artigos' }) }}">Artigos Acadêmicos (1.000)</a></li>
      <li class="{% block teses %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'teses' }) }}">Teses & TCCs (1.000)</a></li>
      <li class="{% block filmes %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'filmes' }) }}">Filmes/Documentários (1.000)</a></li>
      <li class="{% block especiais %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'especiais' }) }}">Especiais de TV (1.000)</a></li>
      <li class="{% block outros %}{% endblock %}"><a href="{{ path('museu_acervo', { 'option': 'outros' }) }}">Outros (1.000)</a></li>
    </ul>        
</div>