{% extends '::base.html.twig' %}

{% block body -%}
 <script src="/back/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#museu_backendbundle_collection_category").val("{{ form.vars.value.category }}");
		{% if form.vars.value.category != 'depoimentos' %}
			$("#div_statement_category").hide();
		{% endif %}
		{% if form.vars.value.category  == 'livros' %}
			$("#div_livros").show();
		{% endif %}
	});

	function mudaCategoria() {
		$("#div_statement_category").hide();
		$("#div_livros").hide();
		if ($("#museu_backendbundle_collection_category").val() == 'depoimentos') {
			$("#div_statement_category").show();
		} else if ($("#museu_backendbundle_collection_category").val() == 'livros') {
			$("#div_livros").show();
		}
	 }
</script>
<div class="row-fluid">
	<div class="span12">
		<div>
							<!-- BEGIN GENERAL PORTLET-->
			<div class="portlet">
				

				<div class="portlet-body form">
					
					{{ form_start(form, { 'attr': { 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}

    					<h3 class="form-section">Editar Acervo</h3>

    					<div class="control-group {% if (form.acervo_id.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.acervo_id, 'ID', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								
								{{ form_widget(form.acervo_id, { 'attr': { 'class': 'm-wrap large' }}) }}
								
								{% if (form.acervo_id.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.acervo_id.vars.errors[0].message }}</span>
		                        {% endif %}

								
							</div>
						</div>
						
    					<div class="control-group {% if (form.title.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.title, 'Título', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								

								{{ form_widget(form.title, { 'attr': { 'class': 'm-wrap large' }}) }}
								{% if (form.title.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.title.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>
											

						<div class="control-group {% if (form.subtitle.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.subtitle, 'Sub-Título', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								
								{{ form_widget(form.subtitle, { 'attr': { 'class': 'm-wrap large' }}) }}
								
								{% if (form.subtitle.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.subtitle.vars.errors[0].message }}</span>
		                        {% endif %}

								
							</div>
						</div>

						<div class="control-group {% if (form.category.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.category, 'Coleção', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.category, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

								{% if (form.category.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.category.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<span id="div_livros" style="display: none;">
							<div class="control-group {% if (form.publisher.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.publisher, 'Editora', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.publisher, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.publisher.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.publisher.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
							<div class="control-group {% if (form.sinopse.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.sinopse, 'Sinopse', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.sinopse, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.sinopse.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.sinopse.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
							<div class="control-group {% if (form.genre.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.genre, 'Gênero', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.genre, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.genre.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.genre.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
							<div class="control-group {% if (form.year.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.year, 'Ano', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.year, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.year.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.year.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
							<div class="control-group {% if (form.resenha.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.resenha, 'Resenha', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.resenha, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.resenha.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.resenha.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
							<div class="control-group {% if (form.ebook.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.ebook, 'Ebook', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.ebook, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.ebook.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.ebook.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
							<div class="control-group {% if (form.library.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.library, 'Livraria', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.library, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.library.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.library.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
							<div class="control-group {% if (form.next_library.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.next_library, 'Biblioteca Próxima', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.next_library, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.next_library.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.next_library.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
							<div class="control-group {% if (form.sebo.vars.errors|length > 0) %}error{% endif %}">
								
								{{ form_label(form.sebo, 'Sebo', { 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls">
									{{ form_widget(form.sebo, { 'attr': { 'class': 'm-wrap large', 'onchange': 'mudaCategoria()' }}) }}

									{% if (form.sebo.vars.errors|length > 0) %}
				                        <span class="help-inline">{{ form.sebo.vars.errors[0].message }}</span>
			                        {% endif %}
								</div>
							</div>
						</span>

						<div id="div_statement_category" class="control-group {% if (form.statement_category.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.statement_category, 'Categoria do Depoimento', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.statement_category, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.statement_category.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.statement_category.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.author.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.author, 'Autor', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.author, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.author.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.author.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						

						<div class="control-group {% if (form.vehicle.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.vehicle, 'Veículo/Instituição', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.vehicle, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.vehicle.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.vehicle.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.program.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.program, 'Editoria/Programa/Depto', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.program, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.program.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.program.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.filename.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.filename, 'Arquivo do Item', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.filename, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.filename.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.filename.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>
						
						<div class="control-group {% if (form.url.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.url, 'URL', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.url, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.url.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.url.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.acervo_date.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.acervo_date, 'Data', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.acervo_date, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.acervo_date.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.acervo_date.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.keyword.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.keyword, 'Palavras-chaves', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.keyword, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.keyword.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.keyword.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.pic.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.pic, 'Arquivo de imagem (facsimile, capa etc.)', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.pic, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.pic.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.pic.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.support_pic.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.support_pic, 'Arquivo de imagem de apoio (fotografia, infograma, release etc.)', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.support_pic, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.support_pic.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.support_pic.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.support_pic_author.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.support_pic_author, 'Autor da imagem de apoio (fotógrafo, cinegrafista,ilustrador etc.)', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.support_pic_author, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.support_pic_author.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.support_pic_author.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.related.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.related, 'Itens relacionados', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.related, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.related.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.related.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.interpret.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.interpret, 'Intérprete', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.interpret, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.interpret.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.interpret.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="control-group {% if (form.body.vars.errors|length > 0) %}error{% endif %}">
							
							{{ form_label(form.body, 'Corpo da Notícia', { 'label_attr': {'class': 'control-label'} }) }}
							<div class="controls">
								{{ form_widget(form.body, { 'attr': { 'class': 'm-wrap large' }}) }}

								{% if (form.body.vars.errors|length > 0) %}
			                        <span class="help-inline">{{ form.body.vars.errors[0].message }}</span>
		                        {% endif %}
							</div>
						</div>

						<div class="form-actions">
							{{ form_widget(form.submit, { 'label': 'Salvar', 'attr': { 'class': 'btn blue' }}) }}
							<button type="button" class="btn">Cancelar</button>
						</div>
					
				</div>
			</div>
		</div>
	</div>
</div>


{{ form_end(form) }}
{% endblock %}

