{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Acervo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ entity.subtitle }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Vehicle</th>
                <td>{{ entity.vehicle }}</td>
            </tr>
            <tr>
                <th>Program</th>
                <td>{{ entity.program }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.filename }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Acervo_date</th>
                <td>{{ entity.acervodate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Keyword</th>
                <td>{{ entity.keyword }}</td>
            </tr>
            <tr>
                <th>Pic</th>
                <td>{{ entity.pic }}</td>
            </tr>
            <tr>
                <th>Support_pic</th>
                <td>{{ entity.supportpic }}</td>
            </tr>
            <tr>
                <th>Support_pic_author</th>
                <td>{{ entity.supportpicauthor }}</td>
            </tr>
            <tr>
                <th>Related</th>
                <td>{{ entity.related }}</td>
            </tr>
            <tr>
                <th>Interpret</th>
                <td>{{ entity.interpret }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
            <tr>
                <th>Total_visit</th>
                <td>{{ entity.totalvisit }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('collection') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('collection_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
