{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tese list</h1>

    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Pdf</th>
                <th style="width:130px;"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.author }}</td>
                <td>{{ entity.pdf }}</td>
                <td>
                    <a class="btn default btn-xs green-stripe" href="{{ path('tese_show', { 'id': entity.id }) }}">
                         Ver
                    </a>
                    <a class="btn default btn-xs green-stripe" href="{{ path('tese_edit', { 'id': entity.id }) }}">
                         Editar
                    </a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tese_new') }}">
        <button type="button" class="btn btn-default">Criar Nova</button>
    </a>
    {% endblock %}
