{% extends '::front.html.twig' %}

{% block exposicoes_active%}active{% endblock %}
{% block breadcrumb %}Exposições{% endblock %}

{% block css %}
    <link href="/front/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="/front/assets/plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->

    <!-- BEGIN THEME STYLES -->  
    <link href="/front/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/pages/gallery.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/front/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/pages/portfolio.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/custom.css" rel="stylesheet" type="text/css"/>


    <link href="/front/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="/front/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="/front/assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
<!-- END THEME STYLES -->
{% endblock %}
{% block body -%}
<style type="text/css">

.galeria-imagens a {
display: block;
float: left;
overflow: hidden;

height: 110px;
}

.tipos-projetos {
width: 935px;
display: table;
height: auto;
margin: 0 0 0 0;
}

.container_expo {
float: left;
width: 220px;
height: 220px;
margin: 0 0 29px 165px;
position: relative;
background-color: white;
}

.galeria-imagens {
margin: 0 165px 18px 0;
float: right;
background-color: transparent;
width: 385px;
}

.galeria-imagens a img {
width: 190px;
}


</style>
<!-- BEGIN RECENT WORKS -->
<div class="row">
{#
{% for expo in expositions %}
<div class="tipos-projetos">
    <div class="container_expo">
        <a href="{{ path('museu_view_exposition', { 'id': expo.id }) }}" style="text-decoration: none;">
        <h2>{{ expo.title }}</h2>
        <p style="color: #444;">{{ expo.subtitle }}</p>
        </a>

    </div>  
    <div class="galeria-imagens gallery-item">
        {% for img in expo.expositionImages %}
            <a href="{{ path('museu_view_exposition', { 'id': expo.id }) }}">
                    <img alt="" src="{{ asset(img.pic) }}" class="img-responsive">
                    <!--<div class="zoomix"><i class="fa fa-search"></i></div>-->
                  </a>
         {% endfor %}
    </div>
</div>


{% endfor %}
#}

{% for expo in expositions %}
<!-- BEGIN RECENT WORKS -->
    <div class="row recent-work margin-bottom-40">
        <div class="col-md-3">
            <a href="{{ path('museu_view_exposition', { 'id': expo.id }) }}" style="text-decoration: none;">
                <h2>{{ expo.title }}</h2>
                <p style="color: #444;">{{ expo.subtitle }}</p>
                </a>
        </div>
        <div class="col-md-9">
        
        {% for img in expo.expositionImages %}
            {% if loop.index <= 10 %}
            <div class="col-md-3 col-sm-3 gallery-item" style="height: 160px; text-align: center; width: 160px;">
                <a href="{{ path('museu_view_exposition', { 'id': expo.id }) }}">
                    <img src="{{ asset(img.pic) }}" style="width: 150px; height: 150px;" class="img-responsive" />
                </a>
            </div>
            {% endif %}

        {% endfor %}
        </div>
    </div>   
{% endfor %}
        <!-- END RECENT WORKS -->
<div class="tipo-projetos">{{ render(controller('MuseuFrontendBundle:Default:news')) }}</div>



</div>

{% endblock %}