{% extends '::front.html.twig' %}

{% block breadcrumb %}Sala de Imprensa{% endblock %}

{% block body -%}
    
            <!-- ROW 1 -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12">

                    <h3>Notícias</h3>
                    {% for noticia in noticias %}
                    <p>
                        <a href="{{ noticia.url }}" target="_blank" style="font-size:16px;">{{ noticia.title }}</a><br />
                        <span style="font-style: italic;">{{ noticia.midia }} - {{ noticia.date|date("d/m/Y") }}</span><br />
                        {{ noticia.description }} <br />
                        <a href="{{ noticia.url }}" target="_blank">Leia mais</a>
                     </p>
                     
                     {% endfor %}
                     <hr>
                     <h3>Releases</h3>
                    {% for release in releases %}
                    <p>
                        <a href="{{ asset(release.pdf) }}" target="_blank" style="font-size:16px;">{{ release.title }}</a><br />
                        {{ release.description }} <br />
                        <a href="{{ asset(release.pdf) }}" target="_blank">Leia mais</a>
                     </p>

                     {% endfor %}
                     <hr>
                    <h3>Artigos</h3>
                    {% for artigo in artigos %}
                    <p>
                        <a href="{{ asset(artigo.pdf) }}" target="_blank" style="font-size:16px;">{{ artigo.title }}</a><br />
                        <span style="font-style: italic;">{{ artigo.date|date("d/m/Y") }} - {{ artigo.author }}</span><br />
                        {{ artigo.description }} <br />
                        <a href="{{ asset(artigo.pdf) }}" target="_blank">Leia mais</a>
                     </p>
                     {% endfor %}


                   
                </div>  
            </div>       
    
    
{% endblock %}