<style type="text/css">

.sliderContainer {
    position:relative;
    width:100%;
    display:block;
    margin-top: -20px;
}
.sliderContainer .sliderSombra {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:10px;
    z-index:10;
    background:url(/bundles/spafrontend/images/home-slider-sombra.png) repeat-x;
}
.sliderContainer #slider {
    position:relative;
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
}
.sliderContainer #slider li img {
    width:100%;
    padding: 1px; 
}
.sliderContainer a.rslides_nav {
    position:absolute;
    display:block;
    top:50%;
    margin-top:190px;
    width:105px;
    height:123px;
    z-index:50;
}
.sliderContainer a.rslides_nav span {
    display:none;
}
.sliderContainer a.rslides_nav.prev {
    background:url(/images/prev-button.png) 5px 1px no-repeat;
    left:7px;
    background-size: 90px;
    opacity: 0.5;
}
.sliderContainer a.rslides_nav.prev:hover {
    background-position:0 0;
}
.sliderContainer a.rslides_nav.next {
    background:url(/images/next-button.png) 5px 1px no-repeat;
    right:7px;
    background-size: 90px;
    opacity: 0.5;
}
.sliderContainer a.rslides_nav.next:hover {
    background-position:10px 0;
}




</style>


<div class="sliderContainer">
        <ul class="rslides" id="slider">
            {% for banner in banners %}
                {% if loop.index is not divisibleby(2) %}
                <li style="width: 100%;">

                    <div style="width: 50%; float: left; min-height: 540px;">
                        <a href="{{ path('museu_view_exposition', { 'id': banner.expositionId }) }}">
                            <img src="{{ asset(banner.pic) }}" style="width: 640px; height: 460px;">
                        </a>
                        <a href="{{ path('museu_view_exposition', { 'id': banner.expositionId }) }}" style="color: black">
                            <h1 style="margin-top: 10px; text-align: center;">{{ banner.title }}</h1>
                        </a>
                            <h4 style="margin-top: 10px; text-align: center;">{{ banner.subtitle }}</h4>
                    </div>
                {% else %}

                    <div style="width: 50%; float: left; min-height: 540px;">
                        <a href="{{ path('museu_view_exposition', { 'id': banner.expositionId }) }}">
                            <img src="{{ asset(banner.pic) }}" style="width: 640px; height: 460px;">
                        </a>
                        <a href="{{ path('museu_view_exposition', { 'id': banner.expositionId }) }}" style="color: black">
                            <h1 style="margin-top: 10px; text-align: center;">{{ banner.title }}</h1>
                        </a>
                            <h4 style="margin-top: 10px; text-align: center;">{{ banner.subtitle }}</h4>
                    </div>
                </li>
                {% endif %}

                {% if loop.index is not divisibleby(2) and loop.last %}
                

                    <div style="width: 50%; float: left; min-height: 540px;">
                        <a href="{{ path('museu_view_exposition', { 'id': banner.expositionId }) }}">
                            <img src="{{ asset(banners.0.pic) }}" style="width: 640px; height: 460px;">
                        </a>
                        <a href="{{ path('museu_view_exposition', { 'id': banner.expositionId }) }}" style="color: black">
                            <h1 style="margin-top: 10px; text-align: center;">{{ banners.0.title }}</h1>
                        </a>
                            <h4 style="margin-top: 10px; text-align: center;">{{ banners.0.subtitle }}</h4>
                    </div>
                    </li>
                {% endif %}

            {% endfor %}
            
        </ul>
        <hr class="fim" />
</div>