{#<!-- BEGIN REVOLUTION SLIDER -->    
        <div class="fullwidthbanner-container slider-main">
            <div class="fullwidthabnner">
                <ul id="revolutionul" style="display:none;"> 
                        {% for banner in banners %}
                            
                                 
                        <!-- THE FIRST SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/front/assets/img/sliders/revolution/thumbs/thumb2.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="/front/assets/img/sliders/revolution/bg4.jpg" alt="">
                            
                            <div class="caption lft slide_title slide_item_left"
                                 data-x="0"
                                 data-y="105"
                                 data-speed="400"
                                 data-start="1500"
                                 data-easing="easeOutExpo">
                                 Museu MTC 
                            </div>
                            
                            <div class="caption lft slide_desc slide_item_left"
                                 data-x="5"
                                 data-y="180"
                                 data-speed="400"
                                 data-start="2500"
                                 data-easing="easeOutExpo">
                                 {{ banner.title }}
                            </div>
                                                 
                            <div class="caption lfb"
                                 data-x="640" 
                                 data-y="55" 
                                 data-speed="700" 
                                 data-start="1000" 
                                 data-easing="easeOutExpo"  >
                                 <img src="{{ asset(banner.pic) }}" alt="Image 1">
                            </div>
                        </li>
                        {% endfor %}

                        
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->

{% for banner in banners %}
	<img src="{{ asset(banner.pic) }}" style="width:200px; height: 300px;" /><br />
{% endfor %}#}
<style type="text/css">

.sliderContainer {
    position:relative;
    width:100%;
    display:block;
}
.sliderContainer .sliderSombra {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:10px;
    z-index:10;
    background:url(/bundles/spafrontend/images/home-slider-sombra.png) repeat-x;
}
.sliderContainer #slider {
    position:relative;
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
}
.sliderContainer #slider li img {
    width:100%;
    padding: 5px; 
}
.sliderContainer a.rslides_nav {
    position:absolute;
    display:block;
    top:50%;
    margin-top:190px;
    width:27px;
    height:73px;
    z-index:50;
}
.sliderContainer a.rslides_nav span {
    display:none;
}
.sliderContainer a.rslides_nav.prev {
    background:url(/bundles/spafrontend/images/home-slider-anterior.png) 5px 0 no-repeat;
    left:7px;
}
.sliderContainer a.rslides_nav.prev:hover {
    background-position:0 0;
}
.sliderContainer a.rslides_nav.next {
    background:url(/bundles/spafrontend/images/home-slider-proximo.png) 5px 0 no-repeat;
    right:7px;
}
.sliderContainer a.rslides_nav.next:hover {
    background-position:10px 0;
}




</style>


<div class="sliderContainer">
        <ul class="rslides" id="slider">
            {% for banner in banners %}
                {% if loop.index is not divisibleby(2) %}
                <li style="width: 100%;">

                    <div style="width: 50%; float: left; min-height: 540px;">
                            <img src="{{ asset(banner.pic) }}" style="width: 640px; height: 460px;">
                            <h1 style="margin-top: 10px; text-align: center;">{{ banner.title }}</h1>
                    </div>
                {% else %}

                    <div style="width: 50%; float: left; min-height: 540px;">
                            <img src="{{ asset(banner.pic) }}" style="width: 640px; height: 460px;">
                            <h1 style="margin-top: 10px; text-align: center;">{{ banner.title }}</h1>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            
        </ul>
        <hr class="fim" />
</div>