{% extends '::front.html.twig' %}

{% block exposicoes_active%}active{% endblock %}

{% block css %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
    <link href="/front/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="/front/assets/plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->

    <!-- BEGIN THEME STYLES -->  
    <link href="/front/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/pages/gallery.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/front/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/pages/portfolio.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/custom.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->
{% endblock %}

{% block javascript %}
    
    <script src="/front/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/front/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="/front/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script type="text/javascript" src="/front/assets/plugins/hover-dropdown.js"></script>
    <script type="text/javascript" src="/front/assets/plugins/back-to-top.js"></script> 

    <script type="text/javascript" src="/front/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>  
    <script src="/front/assets/scripts/app.js"></script>  
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();                      
        });
    </script>
{% endblock %}
{% block body -%}
        
    <!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs margin-bottom-40">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Guariba, ano 30</h1>
                </div>
                
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTAINER -->   
        <div class="container min-hight">
            <!-- BEGIN BLOG -->
            <div class="row">
                <!-- BEGIN LEFT SIDEBAR -->            
                <div class="col-md-9 blog-item margin-bottom-40">
                    <div class="blog-item-img">
                        <!-- BEGIN CAROUSEL -->            
                        <div class="front-carousel">
                            <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <img src="/front/assets/img/posts/img1.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <!-- BEGIN VIDEO -->   
                                        <iframe src="http://player.vimeo.com/video/56974716?portrait=0" height="259" style="width:100%; border:0" allowFullScreen></iframe>
                                        <!-- END VIDEO -->   
                                    </div>
                                    <div class="item">
                                        <img src="/front/assets/img/posts/img3.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>                
                        </div>
                        <!-- END CAROUSEL -->             
                    </div>
                    <h2><a href="#">Guariba, ano 30</a></h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing condimentum eleifend enim a feugiat.</p>
                    <blockquote>
                        <p>Pellentesque ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante Integer posuere erat a ante.</p>
                        <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                    </blockquote>                
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <p>Culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                
                    
                </div>
                <!-- END LEFT SIDEBAR -->

                <!-- BEGIN RIGHT SIDEBAR -->            
                <div class="col-md-3 blog-sidebar">
                    <!-- CATEGORIES START -->
                    <h2 class="no-top-space">Mais Exposições</h2>
                    <ul class="nav sidebar-categories margin-bottom-40">
                        <li class="active"><a href="#">Guariba, ano 30</a></li>
                        <li><a href="#">Guariba, ano 30</a></li>
                        <li><a href="#">Guariba, ano 20</a></li>
                        <li><a href="#">Guariba, ano 10</a></li>
                        <li><a href="#">Guariba, ano 90</a></li>
                    </ul>
                    <!-- CATEGORIES END -->
                    
                   
                </div>
                <!-- END RIGHT SIDEBAR -->            
            </div>
            <!-- END BEGIN BLOG -->
        </div>
        <!-- END CONTAINER -->


        <!-- BEGIN CONTAINER -->   
        <div class="container min-hight gallery-page margin-bottom-40">
          <div class="row">
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img1.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img1.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img2.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img2.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img3.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img3.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img4.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img4.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img5.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img5.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img6.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img6.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img1.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img1.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img2.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img2.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img3.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img3.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img4.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img4.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img5.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img5.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img2.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img2.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
            <div class="col-md-3 col-sm-4 gallery-item">
              <a data-rel="fancybox-button" title="Project Name" href="/front/assets/img/works/img6.jpg" class="fancybox-button">
                <img alt="" src="/front/assets/img/works/img6.jpg" class="img-responsive">
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a> 
            </div>
           
          </div>

          
        </div>
        <!-- END CONTAINER -->





{#
        <!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs margin-bottom-40">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Exposições</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="">Pages</a></li>
                        <li class="active">Portfolio 3 Column</li>
                    </ul>
                </div>
            </div>
        </div>

            <!-- BEGIN CONTAINER -->   
            <div class="container min-hight portfolio-page margin-bottom-30">
                <!-- BEGIN PORTFOLIO ITEM -->
                <div class="row">
                    <!-- BEGIN CAROUSEL -->            
                    <div class="col-md-5 front-carousel">
                        <div id="myCarousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                {% for image in exposition.expositionImages %}
                                <div class="item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset(image.pic) }}" alt="">
                                    <div class="carousel-caption">
                                        <p>{{ image.title }}</p>
                                        <p>{{ image.author }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>                
                    </div>
                    <!-- END CAROUSEL -->                             

                    <!-- BEGIN PORTFOLIO DESCRIPTION -->            
                    <div class="col-md-7">
                        <h2>{{ exposition.title }}</h2>
                        <p>{{ exposition.description }}</p>
                        <br>
                        <div class="row front-lists-v2 margin-bottom-15">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
                                    <li><i class="fa fa-bell"></i> Web Deisgn</li>
                                    <li><i class="fa fa-globe"></i> Web Development</li>
                                    <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-dropbox"></i> Free Storage</li>
                                    <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
                                    <li><i class="fa fa-comments"></i> Free Support</li>
                                    <li><i class="fa fa-star"></i> Awesome UI</li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn theme-btn"> VISIT THE PROJECT</a>
                    </div>
                    <!-- END PORTFOLIO DESCRIPTION -->            
                </div>
                <!-- END PORTFOLIO ITEM --> 

                <div class="clearfix"></div>

            <!-- BEGIN RECENT WORKS -->
            <div class="row recent-work margin-bottom-40">
                <div class="col-md-3">
                    <h2><a href="portfolio.html">Recent Works</a></h2>
                    <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde voluptatem. Sed unde omnis iste natus error sit voluptatem.</p>
                </div>
                <div class="col-md-9">
                    <ul class="bxslider">
                        <li>
                            <em>
                                <img src="/front//front/assets/img/works/img1.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front//front/assets/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front//front/assets/img/works/img2.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front//front/assets/img/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front//front/assets/img/works/img3.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front//front/assets/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front//front/assets/img/works/img4.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front//front/assets/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front//front/assets/img/works/img5.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front//front/assets/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front//front/assets/img/works/img6.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front//front/assets/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front//front/assets/img/works/img3.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front//front/assets/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front//front/assets/img/works/img4.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front//front/assets/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Amazing Project</strong>
                                <b>Agenda corp.</b>
                            </a>
                        </li>
                    </ul>        
                </div>
            </div>   
            <!-- END RECENT WORKS -->
            </div>
            <!-- END CONTAINER -->



        <!-- END BREADCRUMBS -->
        #}
{% endblock %}