{% extends '::base.html.twig' %}

{% block body -%}


<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN GENERAL PORTLET-->
		<div class="portlet">


			<div class="portlet-body form">

				{{ form_start(form, { 'attr': { 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}

				<h3 class="form-section">Criar Livro</h3>
				<div class="control-group {% if (form.title.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.title, 'Título', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.title, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.title.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.title.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.file.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.file, 'Arquivo', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.file, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.file.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.file.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.author.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.author, 'Autor', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.author, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.author.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.author.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>


				<div class="control-group {% if (form.description.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.description, 'Sinopse', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.description, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.description.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.description.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.publisher.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.publisher, 'Editora', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.publisher, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.publisher.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.publisher.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.url.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.url, 'URL', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.url, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.url.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.url.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.genre.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.genre, 'Gênero', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.genre, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.genre.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.genre.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.year.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.year, 'Ano', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.year, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.year.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.year.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.resenha.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.resenha, 'Resenha', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.resenha, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.resenha.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.resenha.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.ebook.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.ebook, 'eBook', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.ebook, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.ebook.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.ebook.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.next_library.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.next_library, 'Biblioteca Próxima', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.next_library, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.next_library.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.next_library.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.library.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.library, 'Livraria', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.library, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.library.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.library.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group {% if (form.sebo.vars.errors|length > 0) %}error{% endif %}">

					{{ form_label(form.sebo, 'Sebo', { 'label_attr': {'class': 'control-label'} }) }}
					<div class="controls">


						{{ form_widget(form.sebo, { 'attr': { 'class': 'm-wrap large' }}) }}
						{% if (form.sebo.vars.errors|length > 0) %}
						<span class="help-inline">{{ form.sebo.vars.errors[0].message }}</span>
						{% endif %}
					</div>
				</div>
				<button type="submit">Criar</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}
