<div class="col-md-3">
    <ul class="ver-inline-menu tabbable margin-bottom-10">
      <li class="{% block sindicalistas %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'sindicalistas' }) }}">Sindicalistas</a></li>
      <li class="{% block trabalhadores %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'trabalhadores' }) }}">Trabalhadores</a></li>
      <li class="{% block apoiadores %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'apoiadores' }) }}">Apoiadores</a></li>
      <li class="{% block jornalistas %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'jornalistas' }) }}">Jornalistas</a></li>
      <li class="{% block empregadores %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'empregadores' }) }}">Empregadores</a></li>
      <li class="{% block autoridades %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'autoridades' }) }}">Autoridades</a></li>
      <li class="{% block imprensa %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'imprensa' }) }}">Imprensa</a></li>
      <li class="{% block timeline %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'timeline' }) }}">Linha do Tempo</a></li>
      <li class="{% block mapa %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'mapa' }) }}">Mapa das Greves</a></li>
      <li class="{% block depoimento %}{% endblock %}"><a href="{{ path('museu_guariba', { 'option': 'depoimento' }) }}">Mande seu depoimento</a></li>
    </ul>        
</div>