{% extends '::front.html.twig' %}

{% block body -%}
  <script type="text/javascript">
  function changeDepo(depo, pic, name, func) {
    $("#depo").show();
    $("#depoPic").attr('src', pic);
    $("#depoText").html('<div style="text-align:center;"><iframe width="660" height="415" src="' + depo +'" frameborder="0" allowfullscreen></iframe></div>');
    $("#depoName").text(name);
    $("#depoFunction").text(func); 
  }

  </script>

                {% embed 'MuseuFrontendBundle:Guariba:topo.html.twig' %} 
                {% endembed %}
                <div class="col-md-3 col-sm-3">
                <h2 style="margin-left: 15px;">Depoimentos</h2>
                </div>
                <div class="col-md-9 col-sm-9">
                <h2 style="">{{ option }}</h2>
                </div>
                <div class="col-md-3">

                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                      <li class="{% if option == 'Sindicalistas' %}active{% endif %}"><a href="{{ path('museu_guariba', { 'option': 'sindicalistas' }) }}">Sindicalistas</a></li>
                      <li class="{% if option == 'Trabalhadores' %}active{% endif %}"><a href="{{ path('museu_guariba', { 'option': 'trabalhadores' }) }}">Trabalhadores</a></li>
                      <li class="{% if option == 'Observadores' %}active{% endif %}"><a href="{{ path('museu_guariba', { 'option': 'observadores' }) }}">Observadores</a></li>
                      <li class="{% if option == 'Jornalistas' %}active{% endif %}"><a href="{{ path('museu_guariba', { 'option': 'jornalistas' }) }}">Jornalistas</a></li>
                      <li class="{% if option == 'Empregadores' %}active{% endif %}"><a href="{{ path('museu_guariba', { 'option': 'empregadores' }) }}">Empregadores</a></li>
                      <li class="{% if option == 'Autoridades' %}active{% endif %}"><a href="{{ path('museu_guariba', { 'option': 'autoridades' }) }}">Autoridades</a></li>
                      {#
                      <li class="{% if option == 'Imprensa' %}active{% endif %}"><a href="{{ path('museu_guariba', { 'option': 'imprensa' }) }}">Imprensa</a></li>
                      <li class=""><a href="{{ path('museu_guariba', { 'option': 'timeline' }) }}">Linha do Tempo</a></li>
                      <li class=""><a href="{{ path('museu_guariba', { 'option': 'mapa' }) }}">Mapa das Greves</a></li>
                      <li class=""><a href="{{ path('museu_guariba', { 'option': 'depoimento' }) }}">Mande seu depoimento</a></li>
                      #}
                    </ul>        

                    <div class="well red" style="background-color: #d84a38; color: white; padding:0px; cursor: pointer;" onclick="location.href='{{ path('museu_guariba', { 'option': 'depoimento' }) }}'">
                        
                        <h1 style="font-size: 20px; text-align:center; margin-top: 10px; color:">Mande seu Depoimento</h1>
                        
                    </div>
                    <a href="{{ path('museu_imprensa_greve') }}"><h3>A Imprensa e as Greves</h3></a>
                    <a href="{{ path('museu_imprensa_greve') }}" style="color: black;">Jornais, emissoras de rádio e televisão e agências de notícias, inclusive do exterior, enviaram equipes de repórteres, fotógrafos e cinegrafistas para cobrir a onda de greves que parou o interior de São Paulo a partir de 1984.</a>

                    <a href="{{ path('museu_timeline') }}"><h3>Linha do Tempo</h3></a>
                    <a href="{{ path('museu_timeline') }}" style="color: black;">Veja os principais acontecimentos e como evoluiu a greve, a repressão policial e a conquista dos trabalhadores do campo durante os confrontos.</a>

                    <a href="{{ path('museu_mapa_greve') }}"><h3>Mapa das Greves</h3></a>
                    <a href="{{ path('museu_mapa_greve') }}" style="color: black;">Veja o mapa das cidades que aderiram às greves em diferentes períodos, a partir de maio de 1984, em várias regiões do Estado de São Paulo.</a>
                </div>

                <div class="col-md-9">
                    <!-- BEGIN TAB CONTENT -->
                    <div class="tab-content">
                      <!-- START TAB 1 -->
                        <div id="tab_1" class="tab-pane active">
                            <div class="col-md-12">
                                
                                {% if option == 'Imprensa' %}
                                  Jornais, emissoras de rádio e televisão e agências de notícias, inclusive do exterior, enviaram equipes de repórteres, fotógrafos e cinegrafistas para cobrir a onda de greves que parou o interior de São Paulo a partir de 1984.
                                  {% endif %}
                            </div>
                            <div class="col-md-12">

                                
                                  <div class="row" style="">
                                    {% for depo in statements %}

                                        <div class="col-md-2 col-sm-2 gallery-item" style="height: 150px;">
                                          <a href="javascript:void(0)" onclick='changeDepo("{{ depo.url }}", "{{ asset(depo.pic) }}", "{{ depo.name }}", "{{ depo.function }}");'>
                                            <img src="{{ asset(depo.pic) }}" style="width: 80px; height: 88px;" class="img-responsive" />
                                          </a>
                                          <span style="font-size: 11px;" data-rel="fancybox-button">
                                          {{ depo.name }}<br />
                                          {{ depo.function }}<br />
                                          {{ depo.company }}
                                          </span>
                                          
                                        </div>
                                    {% endfor %}

                                    
                                  
                                </div>


                               
                                    
                            </div>

                            <!-- TESTIMONIALS -->
                            <div class="col-md-12 testimonials-v1" id="depo" style="margin-top: 30px; display:none;">
                                <div id="myCarousel" class="carousel slide">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <span class="testimonials-slide" id="depoText">
                                              

                                            </span>
                                            <div class="carousel-info">
                                                <img id="depoPic" class="pull-left" src="" alt="" />
                                                <div class="pull-left">
                                                    <span class="testimonials-name" id="depoName"></span>
                                                    <span class="testimonials-post" id="depoFunction"></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                            <!-- END TESTIMONIALS -->  
                            
                        </div>
                      <!-- END TAB 1 -->
                      
                  
                      
                    </div>
                    <!-- END TAB CONTENT -->


                  

                </div>            
            



{% endblock %}