{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Banners</h1>
    <h4>Banners que aparecerão na página inicial</h4>

    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
            <tr>
                <th>Título</th>
                <th>Imagem</th>
                <th style="width:200px;">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td><img src="{{ asset(entity.pic) }}" style="width: 150px;"/></td>
                <td>
                    <a style="float: left;" class="btn default btn-xs green-stripe" href="{{ path('banner_show', { 'id': entity.id }) }}">
                         Ver
                    </a> 
                    <a style="float: left;" class="btn default btn-xs green-stripe" href="{{ path('banner_edit', { 'id': entity.id }) }}">
                         Editar
                    </a>
                    <form style="float: left;" name="form" method="post" action="{{ path('banner_delete', { 'id': entity.id }) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" id="form_submit" name="form[submit]" class="btn default btn-xs green-stripe">Deletar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>    
    </table>

    <a href="{{ path('banner_new') }}">
        <button type="button" class="btn btn-default">Criar Nova</button>
    </a>

    {% endblock %}
