{{ form_start(form, { 'attr': { 'class': 'form-subscribe' }}) }}
						{{ form_errors(form) }}

						<div class="input-group input-large">
                            {{ form_widget(form.email, { 'attr': { 'class': 'form-control' }}) }}
                            <span class="input-group-btn">
                                {{ form_widget(form.submit, { 'attr': { 'class': 'btn theme-btn' }}) }}
                            </span>
                        </div>

{{ form_end(form) }}