{% extends '::front.html.twig' %}


{% block breadcrumb %}Publicações - Livros{% endblock %}
{% block css %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
    <link href="/front/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />               
    <!-- END PAGE LEVEL PLUGIN STYLES -->

    <!-- BEGIN THEME STYLES --> 
    <link href="/front/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/front/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/pages/portfolio.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/custom.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->
{% endblock %}
{% block body -%}

            <div class="row">

            <!-- BEGIN LEFT SIDEBAR -->            
                <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
                    {% for book in books %}
                                
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4 col-sm-4">
                                <img src="{{ asset(book.pic) }}" alt="" style="width: 130px; height: 194px;" class="img-responsive">
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <h2>{{ book.title }}</h2>
                                <ul class="blog-info">
                                    {% if book.publisher %}
                                        Editora: {{ book.publisher }}<br />
                                    {% endif %}
                                    {% if book.author %}
                                        Autor(a): {{ book.author }}<br />
                                    {% endif %}
                                    {% if book.genre %}
                                        Gênero: {{ book.genre }}<br />
                                    {% endif %}
                                    {% if book.year %}
                                        Ano: {{ book.year }}<br />
                                    {% endif %}
                                </ul>
                                <h4>Sinopse</h4>
                                <p>{{ book.description }}</p>
                                {% if book.url %}<a class="more" target="_blank" href="{{ book.url }}">Ler mais<i class="icon-angle-right"></i></a>{% endif %}
                                <p><a href="{{ book.resenha }}">Leia a resenha</a> | <a href="{{ book.ebook }}">Leia o eBook</a> | <a href="{{ book.nextLibrary }}">Biblioteca próxima</a> | <a href="{{ book.sebo }}">Sebo</a> | <a href="{{ book.library }}">Livraria</a></p>
                            </div>
                        </div>
                        <hr class="blog-post-sep">
                    {% endfor %}
                    
                    

                    {{ render(controller('MuseuFrontendBundle:Default:news')) }}           
                </div>
                <!-- END LEFT SIDEBAR -->

                <!-- BEGIN RIGHT SIDEBAR -->            
                {% include 'MuseuFrontendBundle:Publicacoes:categories.html.twig' %}
                <!-- END RIGHT SIDEBAR -->   
            </div>


        
{% endblock %}