<div class="col-md-3 col-sm-3 blog-sidebar">
<!-- CATEGORIES START -->
    <h2>Categorias</h2>
    <ul class="nav sidebar-categories margin-bottom-40">
        <li><a href="{{ path('museu_acervo', { 'option': 'livros'}) }}">Livros ({{ total_books }})</a></li>
        <li><a href="{{ path('museu_acervo', { 'option': 'teses'}) }}">Teses ({{ total_teses }})</a></li>
        <li><a href="{{ path('museu_acervo', { 'option': 'tccs'}) }}">TCCs ({{ total_tccs }})</a></li>
        <li><a href="{{ path('museu_acervo', { 'option': 'artigosacademicos'}) }}">Artigos Acadêmicos ({{ total_artigos }})</a></li>
    </ul>
    <!-- CATEGORIES END -->

    
</div>