{% extends '::front.html.twig' %}


{% block breadcrumb %}Publicações - Livros{% endblock %}
{% block css %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
    <link href="/front/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />               
    <!-- END PAGE LEVEL PLUGIN STYLES -->

    <!-- BEGIN THEME STYLES --> 
    <link href="/front/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/front/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/pages/portfolio.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/custom.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->
{% endblock %}
{% block body -%}

            <div class="row">

            <!-- BEGIN LEFT SIDEBAR -->            
                <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
                    {% for book in ebooks %}
                                
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4 col-sm-4">
                                <img src="{{ asset(book.pic) }}" alt="" style="width: 180px;" class="img-responsive">
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <h2>{{ book.title }}</h2>
                                <ul class="blog-info">
                                    {% if book.publisher %}<li><i class="fa fa-book"></i> {{ book.publisher }}</li>{% endif %}
                                    <li><i class="fa fa-pencil"></i> {{ book.author }}</li>
                                </ul>
                                <p>{{ book.description }}</p>
                                {% if book.url %}<a class="more" target="_blank" href="{{ book.url }}">Ler mais<i class="icon-angle-right"></i></a>{% endif %}
                            </div>
                        </div>
                        <hr class="blog-post-sep">
                    {% endfor %}
                    
                    
                    <div class="text-center">
                        <ul class="pagination pagination-centered">
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>     

                    {{ render(controller('MuseuFrontendBundle:Default:news')) }}           
                </div>
                <!-- END LEFT SIDEBAR -->

                <!-- BEGIN RIGHT SIDEBAR -->            
                {% include 'MuseuFrontendBundle:Publicacoes:categories.html.twig' %}
                <!-- END RIGHT SIDEBAR -->   
            </div>


        
{% endblock %}